@model RowsCount

@{
    ViewData["Title"] = "Generate";
}

<div class="text-center">
    <br />
</div>

@Html.Raw(TempData["msg"])

<script>
    Swal.fire({
        title: "Is the POS closed?",
        text: "it may cause error if POS is open",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, the POS is closed",
        cancelButtonText: "Not yet",
        allowOutsideClick: false,
    }).then((result) => {
        if (result.isConfirmed) {
            var url = '@Url.Action("Index", "Fuels")';
            window.location.href = url;
            timer();
        }
        else {
            window.parent.close();
        }
        
    });

    function generate(){
        Swal.fire("Sample Generate");
    }

    function success() {
        Swal.fire({
            icon: "success",
            title: "Generation Success!",
            showConfirmButton: true,
        });
    }

    function downloaded() {
        Swal.fire({
            icon: "success",
            title: "Download Success!",
            showConfirmButton: true,
        });
    }
    
    function timer() {
        let timerInterval;
        Swal.fire({
            title: "Generating CSV...",
            html: "Please do not close the POS",
            timer: 3000,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
            },
            willClose: () => {
                clearInterval(timerInterval);
            }
        }).then((result) => {
            if (result.dismiss === Swal.DismissReason.timer) {
                console.log("I was closed by the timer");
            }
        });
    }

    function areyousure(){
        Swal.fire({
            title: "Is the POS closed?",
            text: "it may cause error if POS is open",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                });
            }
        });
    }

    function noJournal() {
        Swal.fire({
            icon: "error",
            title: "No database found!",
            text: "it seems that journal.sqlite is missing"
        });
    }

</script>