
@{
    ViewData["Title"] = "NoDatabase";
}

<body>

    <script>
        function noJournal() {
            Swal.fire({
                icon: "error",
                title: "No database found!",
                text: "Make sure that journal.sqlite is located at D:\\RealSoft\\RealPOS\\realhq",
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.parent.close();
                }
            });
        }
    </script>
    @Html.Raw(TempData["msg"])

</body>