
@{
    ViewData["Title"] = "CloseTab";
}

<body>

    <script>
        function noJournal() {
            Swal.fire({
                icon: "error",
                title: "No database found!",
                text: "It seems that journal.sqlite is missing"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.close();
                }
            });
        }
    </script>
    @Html.Raw(TempData["msg"])

</body>